<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 读取属性文件 -->
	<bean id="propertyConfigurer" class="com.tinet.ctilink.util.PropertyUtil">
		<property name="locations">
			<list>
				<value>classpath*:app.properties</value>
			</list>
		</property>
	</bean>
	<!-- 定义Redis连接池 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="20" />
		<property name="maxIdle" value="20" />
		<property name="minIdle" value="5" />
	</bean>

	<!-- 定义Spring Redis连接工厂 -->
	<bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="hostName" value="${redis.url}" />
		<property name="port" value="${redis.port}" />
		<property name="database" value="0" />
		<property name="usePool" value="true" />
		<property name="poolConfig" ref="jedisPoolConfig" />
	</bean>

	<bean id="redisService" class="com.tinet.ctilink.cache.RedisService" >
		<property name="connectionFactory" ref="redisConnectionFactory" />
	</bean>

	<!-- 注入Spring上下文 -->
	<bean id="contextUtil" class="com.tinet.ctilink.util.ContextUtil" />

	<!-- JMX监控输出  -->
	<context:mbean-export />
	<bean id="redisMonitor" class="com.tinet.ctilink.monitor.RedisMonitor" />
	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="beans">
			<map>
				<entry key="Ctilink:type=RedisMonitor,app=control" value-ref="redisMonitor" />
			</map>
		</property>
	</bean>

</beans>