<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<!-- Dubbo全局配置 -->
	<dubbo:application name="cti-link-control" version="${application.version}" />
	<dubbo:registry address="${dubbo.registry.address}" />
	<dubbo:provider timeout="10000" retries="0" version="${application.version}" />
	<dubbo:consumer check="false" version="${application.version}" />
	<dubbo:protocol name="dubbo" serialization="kryo" port="${dubbo.protocol.port}" />
	<!--<dubbo:protocol name="rest" serialization="kryo" server="tomcat" port="${dubbo.rest.port}" accepts="${dubbo.rest.accepts}" threads="${dubbo.rest.threads}" />-->
	<dubbo:monitor protocol="registry" />

	<!-- 使用注解自动注册和注入bean，并启用Dubbo的注解 -->
	<dubbo:annotation />
	<context:component-scan base-package="com.tinet.ctilink">
		<context:include-filter type="annotation" expression="com.alibaba.dubbo.config.annotation.Service" />
	</context:component-scan>

	<!-- ami -->
	<dubbo:reference id="amiActionService" interface="com.tinet.ctilink.ami.action.AmiActionService"/>

	<dubbo:reference id="amiBroadcastActionService" interface="com.tinet.ctilink.ami.action.AmiBroadcastActionService"/>

</beans>
